@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}















html {
    height:100%;
    backgroud: #222222;
}
 
body {
    margin:0;
    backgroud: #222222;
}
 
.bg {
    animation:slide 9s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #1c1c1c 50%, #2b2b2b 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:12s;
}
 
.bg3 {
    animation-duration:15s;
}

 
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}

















a {
	color: #608CBA;
}
fieldset {
	box-sizing: border-box;
	margin: 0;
}
textarea {
	box-sizing: border-box;
	display: block;
	font-family: 'Consolas', monospace;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	height: 200px;
}

/* Header */
.link-title {
	font-size: 30px;
	font-weight: bold;
	padding: 30px;
	text-align: center;
}
.link-title > a {
	color: black;
	text-decoration: none;
}

/* Main */
.main-contents {
	margin: 0 auto;
	width: 90%;
	max-width: 1000px;
}
.main-contents fieldset {
	margin-bottom: 30px;
}
.code-area {
	margin-bottom: 30px;
	overflow: hidden;
}
.code-area > .length {
	float: left;
	margin-top: 10px;
        color: rgba(0,0,0, 0.0);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.code-area > .run-button {
	float: right;
	margin-top: 10px;
}
.code-area > .run-button > button {
	background: none;
	border: none;
	color: deeppink;
	cursor: pointer;
	font-size: 16px;
	outline: none;
	padding: 0;
	text-decoration: underline;
}
.button-area {
	margin-bottom: 30px;
}
.button-area > button {
	font-size: 16px;
	padding: 10px;
	width: 100%;
}
.fieldset-area {
	display: flex;
	flex-wrap: wrap;
}
.fieldset-area > section {
	overflow: hidden;
	padding: 15px;
}
.fieldset-area .title {
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 3px;
}
.fieldset-area .checkbox-area {
	float: left;
	margin-right: 10px;
}
.fieldset-area .input-text {
	margin-top: 15px;
	padding-left: 3px;
}
.fieldset-area .explain {
	margin-bottom: 6px;
}
.fieldset-area .explain > div {
	margin-bottom: 2px;
}
.fieldset-area .explain > p {
	font-size: 14px;
	color: #888888;
	margin: 0;
}

/* Footer */
footer {
	margin: 40px 0;
	padding: 10px;
	text-align: center;
}
.tg {
	margin-bottom: 4px;
}







.checkboxes {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.checkboxes__row {
  display: flex;
}
.checkboxes__row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.checkboxes__item {
  padding: 15px;
  width: 50%;
}
input[type="checkbox"] {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="checkbox"] input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
input[type="checkbox"] input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}
input[type="checkbox"] input:checked ~ .checkbox__checkmark:after {
  left: 21px;
}
input[type="checkbox"]:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
input[type="checkbox"]:hover input:checked ~ .checkbox__checkmark {
  background-color: #f7cb15;
}
input[type="checkbox"] .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 40px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
input[type="checkbox"] .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
input[type="checkbox"] .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: color 0.25s ease;
}



















textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  border-sytle: hidden;
}

textarea {
  padding: 10px;
  background: rgb(45, 45, 45);
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border-sytle: hidden;
  border: none;
  resize: none;
  color: #fff;
  outline: none;
  font-family: 'Source Code Pro';
}

.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: lime;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo;
}

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  margin-top: -30px;
  border-radius: 5px;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
    color: var(--default-btn-color);
    background: var(--btn-default-bg);
  }

}
